{% extends "base.njk" %}

{% block content %}

    <section class="site-contact">
      <div class="container">
        <div class="row d-flex justify-content-center ">
            <div class="site-contact-form">
              <h4>{{formTitle}}</h4>
              <form method="POST" action="https://formspree.io/f/mqkoqkee">
                <div class="row">
                  <div class="col-lg-6">
                    <input type="text" class="form-control" name="first-name" id="first-name" placeholder="Prénom">
                  </div>
                  <div class="col-lg-6">
                    <input type="text" class="form-control" name="last-name" id="last-name" placeholder="Nom">
                  </div>
                  <div class="col-lg-6">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                  </div>
                  <div class="col-lg-6">
                  </div>
                  <div class="col-12">
                    <textarea class="form-control" id="aboutProject" rows="6" placeholder="Votre message içi"></textarea>
                  </div>
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary" formtarget="_blank">
                      <span class="btn-area">
                        <span data-text="{{btnText}}">
                          {{btnText}}
                        </span>
                      </span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  
{% endblock %}
{% block workTogether %}{% endblock %}
